<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>mainwebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>upload.path</param-name>
    <param-value>/tmp</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>website.main.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupActionServlet</display-name>
    <servlet-name>SignupActionServlet</servlet-name>
    <servlet-class>website.main.SignupActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupActionServlet</servlet-name>
    <url-pattern>/signup-action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvatarUploadServlet</display-name>
    <servlet-name>AvatarUploadServlet</servlet-name>
    <servlet-class>website.main.AvatarUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvatarUploadServlet</servlet-name>
    <url-pattern>/AvatarUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvatarUloadServlet</display-name>
    <servlet-name>AvatarUloadServlet</servlet-name>
    <servlet-class>website.main.AvatarUloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>website.main.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadLinkValidationServlet</display-name>
    <servlet-name>DownloadLinkValidationServlet</servlet-name>
    <servlet-class>website.main.DownloadLinkValidationServlet</servlet-class>
  </servlet>
  <listener>
    <listener-class>website.main.listeners.DeleteExpiredRowsListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>website.main.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JarDownloadServlet</display-name>
    <servlet-name>JarDownloadServlet</servlet-name>
    <servlet-class>website.main.JarDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JarDownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
</web-app>